body{
    background-color: blue;
}
main{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section form input{
    margin: 5px;
}
a{
    color: red;
}
.transacao{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 5px;
}
.transacao h3{
    margin: 0;
}