{%extends 'shared/layout.html'%}

{%block conteudo%}
        <main>
            <section>
                <h2>Nome: {{user.nome}}</h2>
                <h2>Sobrenome: {{user.sobrenome}}</h2>
                <h2>Email: {{user.email}}</h2>
                <h2>Senha: {{user.senha}}</h2>
                <h2>Saldo: {{conta.ContaFinal}}R$</h2>
            </section>
            <section>
                <h2>Depositar</h2>
                <label>{{msg_deposito}}</label>
                <form action="/depositar" method="post">
                    <input type="hidden" name="email" value="{{user.email}}">
                    <input type="hidden" name="senha" value="{{user.senha}}">   
                    <input type="number" name="valor" value="0" required>
                    <input type="submit" value="Depositar">
                </form>
            </section>
            <section>
                <h2>Sacar</h2>
                <label>{{msg_sacar}}</label>
                <form action="/sacar" method="post">
                    <input type="hidden" name="email" value="{{user.email}}">
                    <input type="hidden" name="senha" value="{{user.senha}}">
                    <input type="number" name="valor" value="0" required>
                    <input type="submit" value="Sacar">
                </form>
            </section>
            <section>
                <h2>Buscar transação</h2>
                <form action="/buscar" method="post">
                    <input type="hidden" name="email" value="{{user.email}}">
                    <input type="hidden" name="senha" value="{{user.senha}}">
                    <label>A partir de</label>
                    <input type="date" name="data" required>
                    <label>Valor min</label>
                    <input type="number" name="valor_min" value="0" required>
                    <input type="submit" value="Buscar">
                </form>
                {% for i in transacoes%}
                    <div class="transacao">
                        <h3>Data: {{i.data}}</h3>
                        <h3>Hora: {{i.hora}}</h3>
                        <h3>Conta Inicial: {{i.ContaInicial}}</h3>
                        <h3>Valor: {{i.valor}}</h3>
                        <h3>Conta Final: {{i.ContaFinal}}</h3>
                    </div>
                {% endfor %}
            </section>
        </main>
{%endblock%}